<div class="row text-center">
<img src='http://i.imgur.com/bqTQ5F3.jpg'%>
</div>
<!-- ANOTHER WAY TO WRITE LINK IN RAILS IS link_to 'Whatever', creature (from the param OR prefix_path(creature.id)), :class=>'btn btn-primary btn-xs'  -->