/*
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-tagsinput
 */

.image {
  width: 400px;
  height: 300px;
  border-radius: 80%;
}


.btn-primary:hover {
  background-color: black;
  border-style: none;
}

.btn-primary {
  background-color: #96281B;
  border-style: none;
}

img {
  border-style: 2px solid black;
}

body {
  background-color: #EEEEEE;
}

h1 {
  font-family: 'Coustard', serif;
  color: #96281B;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}

.carousel-breeds {
  width: 100%;
  margin: auto;
}

.carousel-inner > .item > img {
  width: 100%;
  margin: auto;
}

.carousel-inner {
  width: 100%;
  margin: auto;
}

.navbar {
  background: #96281B;
  color: #EEEEEE;
  border-style: none;
}


.input {
   width: 350px;
  padding: 15px;
}

input.form-control {
  border-radius: 25px;
  padding-left: 15px;
  background-color: #fff;
}

div.bootstrap-tagsinput {
  background-color: #96281B;
  width: 350px;
  padding: 15px;
}

a:hover {
  text-decoration: none;
}

.footer {
  height: 200px;
}