/*
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-tagsinput
 */

.image {
  width: 400px;
  height: 300px;
  border-radius: 80%;
}


.btn-primary:hover {
  background-color: black;
  border-style: none;
}

.btn-primary {
  background-color: #96281B;
  border-style: none;
}

img {
  border-style: 2px solid black;
}

body {
  background-color: #EEEEEE;
}

h1 {
  font-family: 'Coustard', serif;
  color: #96281B;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}

.info-chicken {
  margin-top: 35px;
}

.edit-chicken {
  margin-top: 25px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}

.image-chicken {
  box-shadow: 5px 5px 15px 2px #888888;
  border-radius: 100%;
}

.carousel-breeds {
  width: 100%;
  margin: auto;
}

.carousel-inner > .item > img {
  width: 100%;
  margin: auto;
}

.carousel-inner {
  width: 100%;
  margin: auto;
}

.navbar {
  background: #96281B;
 color: #96281B;
  border-style: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}


.input {
   width: 350px;
  padding: 15px;
}

input.form-control {
  border-radius: 25px;
  padding-left: 15px;
  background-color: #fff;
}

div.bootstrap-tagsinput {
  background-color: #96281B;
  width: 350px;
  padding: 15px;
}

/* ------------ Carousel ------------ */
.carousel-inner > .item > img {
  width: 50%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
  color: #96281B;
  opacity: 100;
  text-shadow: none;
}

/* ------------ Links ------------ */
a:link {
  color: #96281B;
}

a:hover {
  text-decoration: none;
  color: #96281B;
}

.footer {
  height: 200px;
}